<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.teach.mapper.SysTalentMapper">

    <resultMap type="SysTalent" id="SysTalentResult">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="area" column="area"/>
        <result property="phone" column="phone"/>
        <result property="labelName" column="label_name"/>
        <result property="labelId" column="label_id"/>
        <result property="delFlag" column="del_flag"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="creatTime" column="creat_time"/>
        <result property="createBy" column="create_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="updateBy" column="update_by"/>
    </resultMap>

    <sql id="selectSysTalentVo">
        select id,
               name,
               area,
               phone,
               label_name,
               label_id,
               del_flag,
               age,
               sex,
               creat_time,
               create_by,
               update_time,
               update_by
        from sys_talent
    </sql>

    <!--=============模糊查询========-->
    <select id="selectSysTalentList" parameterType="SysTalent" resultMap="SysTalentResult">
        <include refid="selectSysTalentVo"/>
        <!--
            后台的模糊查询
            当labelId是空值时候说明是后台人才库的模糊查询
         -->
        <where>
            <!-- 后台人才库的模糊查询，当labelId为空值时执行 -->
            <if test="labelId == null or labelId == ''">
                <!-- 在多个字段上执行基于content的模糊查询 -->
                <if test="content != null and content != ''">
                    or name like concat('%', #{content}, '%')
                    or label_name like concat('%', #{content}, '%')
                    or phone like concat('%', #{content}, '%')
                    or area like concat('%', #{content}, '%')
                    <!-- 特殊处理性别字段 -->
                    <if test="content.equals('男')">
                        or sex='0'
                    </if>
                    <if test="content.equals('女')">
                        or sex='1'
                    </if>
                </if>
            </if>

            <!-- 前端人才库页面的模糊查询，当labelId非空时执行 -->
            <if test="labelId != null and labelId != '' ">
                <!-- 在指定字段上执行基于labelId和content的模糊查询 -->
                label_id = #{labelId}
                <if test="content != null and content != ''">
                    and
                    (name like concat('%', #{content}, '%')
                    or phone like concat('%', #{content}, '%')
                    or area like concat('%', #{content}, '%'))
                </if>


            </if>
        </where>
    </select>

    <select id="selectSysTalentById" parameterType="Long" resultMap="SysTalentResult">
        <include refid="selectSysTalentVo"/>
        where id = #{id}
    </select>

    <insert id="insertSysTalent" parameterType="SysTalent" useGeneratedKeys="true" keyProperty="id">
        insert into sys_talent
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="area != null">area,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="labelName != null">label_name,</if>
            <if test="labelId != null">label_id,</if>
            <if test="delFlag != null">del_flag,</if>
            <if test="age != null">age,</if>
            <if test="sex != null">sex,</if>
            <if test="creatTime != null">creat_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="updateBy != null">update_by,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="area != null">#{area},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="labelName != null">#{labelName},</if>
            <if test="labelId != null">#{labelId},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="age != null">#{age},</if>
            <if test="sex != null">#{sex},</if>
            <if test="creatTime != null">#{creatTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
        </trim>
    </insert>

    <update id="updateSysTalent" parameterType="SysTalent">
        update sys_talent
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="area != null">area = #{area},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="labelName != null">label_name = #{labelName},</if>
            <if test="labelId != null">label_id = #{labelId},</if>
            <if test="delFlag != null">del_flag = #{delFlag},</if>
            <if test="age != null">age = #{age},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="creatTime != null">creat_time = #{creatTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteSysTalentById" parameterType="Long">
        delete
        from sys_talent
        where id = #{id}
    </delete>

    <delete id="deleteSysTalentByIds" parameterType="String">
        delete from sys_talent where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>